img_close BITMAP "resource\\close.bmp"
dll_fbembedes RCDATA "resource\\fbembed.dll"
dll_add_1 RCDATA "resource\\ib_util.dll"
dll_add_2 RCDATA "resource\\icudt30.dll"
dll_add_3 RCDATA "resource\\icuin30.dll"
dll_add_4 RCDATA "resource\\icuuc30.dll"
dll_add_5 RCDATA "resource\\msvcp80.dll"
dll_add_6 RCDATA "resource\\msvcr80.dll"
script_db RCDATA "resource\\scriptdb.sql"
dll_add_7 RCDATA "resource\\libeay32.dll"
dll_add_8 RCDATA "resource\\ssleay32.dll"
